<!DOCTYPE html>
{% load static %}
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Courses</title>
        <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
    </head>

    <body class="container-fluid">

        <br>

        <div class="container text-center">
            <h1>Edit Course</h1>
        </div>

        <div class="container">

            {% if messages %}
            {% for message in messages %}
            <div role="alert" class="alert alert-info">{{ message }}</div>
            {% endfor %}
            {% endif %}

            <br>

            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="course_name" class="form-label">Course Name</label>
                    <input type="text" class="form-control" id="course_name" name="course_name"
                        value="{{ course.course_name }}" required />
                </div>
                <div class="mb-3">
                    <label for="dept" class="form-label">Department</label>
                    <input type="text" class="form-control" name="dept" id="dept" value="{{ course.dept }}" required />
                </div>
                <div class="mb-3">
                    <label for="budget" class="form-label">Budget</label>
                    <input type="text" class="form-control" name="budget" id="budget" value="{{ course.budget }}"
                        required />
                </div>
                <button type="submit" class="btn btn-primary">Add</button>
                <a href="/school/courses/" class="btn btn-danger">Cancel</a>
            </form>
        </div>

        <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>

    </body>

</html>