<!DOCTYPE html>
{% load static %}
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Teahers</title>
        <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
    </head>

    <body class="container-fluid">

        <br>

        <div class="container text-center">
            <h1>Edit Teacher</h1>
        </div>

        <div class="container">

            {% if messages %}
            {% for message in messages %}
            <div role="alert" class="alert alert-info">{{ message }}</div>
            {% endfor %}
            {% endif %}

            <br>

            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="teacher_name" class="form-label">Teacher Name</label>
                    <input type="text" class="form-control" id="teacher_name" name="teacher_name"
                        value="{{ teacher.teacher_name }}" required />
                </div>
                <div class="mb-3">
                    <label for="dept" class="form-label">Department</label>
                    <input type="text" class="form-control" name="dept" id="dept" value="{{ teacher.dept }}" required />
                </div>
                <div class="mb-3">
                    <label for="salary" class="form-label">Salary</label>
                    <input type="text" class="form-control" name="salary" id="salary" value="{{ teacher.salary }}"
                        required />
                </div>
                <button type="submit" class="btn btn-primary">Add</button>
                <a href="/school/teachers/" class="btn btn-danger">Cancel</a>
            </form>
        </div>

        <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>

    </body>

</html>